<!DOCTYPE html>
<html
  lang="en"
  xmlns="https://www.thymeleaf.org"
  xmlns:layout="http://www.ultreaq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}">
  <body>
    <section layout:fragment="container">
      <h3 th:text="${title}"></h3>
      <div class="mb-2">
        <button type="button" class="btn btn-primary" onclick="openUser()">
          Add User
        </button>
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr class="table-dark">
              <th scope="col">#</th>
              <th scope="col">FullName</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Address</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="user,iter : ${users}">
              <th scope="row" th:text="${iter.count}"></th>
              <td th:text="${user.name}"></td>
              <td th:text="${user.phoneNumber}"></td>
              <td th:text="${user.address}"></td>
              <td>
                <button
                  type="button"
                  class="btn btn-success"
                  th:value="${user.id}"
                  onclick="detailUser(this.value)">
                  <i class="bi bi-eye"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  th:value="${user.id}"
                  onclick="editUser(this.value)">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-danger"
                  th:value="${user.id}"
                  onclick="deleteUser(this.value)">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Modal -->
        <div
          class="modal fade"
          id="myModal"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="formLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="titleModal"></h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body"></div>
            </div>
          </div>
        </div>
      </div>
      <script src="js/users.js"></script>
    </section>
  </body>
</html>
