<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultreaq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}">
  <body>
    <section layout:fragment="container">
      <div class="homepage">
        <h1>Welcome to Our Website</h1>
        <p>This is the home page. Explore our features and content!</p>
        <nav>
          <ul>
            <li><a href="/about">About Us</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </section>
  </body>
</html>
